@custom-media --viewport-mobile (min-width: 768px);

:root {
  --normal-width: 1100px;
  --wide-width: 1300px;
  --window-padding-inline: 20px;

  --border-radius-normal: 10px;
  --border-radius-big: 20px;

  --black: #000;
  --white: #fff;

  --line-height-normal: 1.4;
}

@media (--viewport-mobile) {
  :root {
    --window-padding-inline: 50px;
  }
}

.contents-inner {
  padding-inline: var(--window-padding-inline);
}
